h1 {
  color: maroon;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#logoBar {
  width: 30vw;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #logoBar {
    width: 100vw;
    height: auto;
  }
}
#siteLogo {
  width: 100%;
}
body {
  display: flex;
  background: antiquewhite;
}
#staffGallery {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  background-color: cornsilk;
  position: relative;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.galleryImage {
  width: 100%;
  height: 300px;
}
